{% extends 'base.html.twig' %}

{% block title %}New Obstacle{% endblock %}

{% block body %}
    <h1>Create new Obstacle</h1>

    {{ include('obstacle/_form.html.twig') }}

    <a href="{{ path('obstacle_index') }}">back to list</a>
{% endblock %}
