{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div align="center">
    <h1>Enregistrer un obstacle</h1>

    {{ include('obstacle/_form.html.twig') }}


    <a href="{{ path('obstacle_index') }}">Voir la liste des obstacles</a>
    </div>
{% endblock %}
