<form method="post" action="{{ path('position_obstacle_delete', {'id': position_obstacle.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ position_obstacle.id) }}">
    <button class="btn">Delete</button>
</form>
