{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
    <div>
        <ul class="list-group list-group-flush">
            <a href="{{ path('resultat_p2') }}"><button type="button" class="list-group-item list-group-item-action">Partie 0</button></a>
            <button type="button" class="list-group-item list-group-item-action">Partie 1</button>
            <button type="button" class="list-group-item list-group-item-action">Partie 2</button>
            <button type="button" class="list-group-item list-group-item-action">Partie 3</button>
            <button type="button" class="list-group-item list-group-item-action">Partie 4</button>
        </ul>
    </div>


{% endblock %}
