{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
    <div>
        <ul class="list-group list-group-flush">
            {% for partie in partie %}
                <a class="dropdown-item" href="/partie/{{ partie.id }}">
                    <button type="button" class="list-group-item list-group-item-action">
                    {{ salle.ville }} / {{ theme.theme }} le {{ partie.jour }}
                    </button>
                </a>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
