{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}

    <h1 align="center">Consulter les parties d'un joueur</h1>

    <div align="center">
    {% if clients %}
        {% for client in clients %}
            <a href="{{ path('client_parties', {id: client.id}) }}"><button>{{ client.prenom }} {{ client.nom }} </button></a>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}
