{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div align="center">
    <h1>Faire une réservation</h1>

    {{ include('partie/_form.html.twig') }}

    </div>
{% endblock %}
